.dropdown-btn {
  text-decoration: none;
  color: #75787B;
  border: none;
  background: none;
  padding: 0px 0px 0px 0px;

}

.dropdown-btn:hover{
  font-weight: bold;
}

.active {
  background-color: #fff;
  font-weight: bold;
}

.sub-item{
  font-size:13px;
  margin-left: 15px;
  color:#75787B;
  margin-top:-12px;
}

.sub-item:hover{
  font-weight: bold;
}

.sub-item-chield {
  font-size:12px;
  margin-left: 25px;
  color:#75787B;
  margin-top:-12px;
}

.sub-item-chield:hover {
  font-weight: bold;
}