#center{
    height:100vh;
}

a{
    color:#75787B 
}
a:hover{
    color:#75787B;
    text-decoration: none;
}
.card-header {
    color:#75787B;
}

.btn {
    box-shadow: 2px 2px 2px #666;
    color:#75787B;  
}

.btn:hover{
    color:#75787B
}

.input {
    position: relative;
    margin: auto;
}
